@model IEnumerable<ProdajemKupujem.Models.Comment>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ProdajemKupujem.Models.ApplicationUser> UserManager
@inject SignInManager<ProdajemKupujem.Models.ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

@{
    var productId = Context.GetRouteData().Values["Id"];
}
<h1>Comments on post</h1>
@if (SignInManager.IsSignedIn(User)){
    <p>
        <a class="btn btn-success" asp-action="Create" asp-route-id="@productId">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
            </td>
            <td>
                <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                   <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
